{# -*- mode: jinja2; -*- #}

{# macros start #}

{# make day header macro #}
{% macro mk_day_header(day) %}
  <header>
    <hgroup>
      <h2>{{ day }}</h2>
    </hgroup>
  </header>
{% endmacro %}

{# make timeslot header macro #}
{% macro mk_timeslot_header(timeslot) %}
  <header>
    <hgroup>
      <h2>{{ timeslot }}</h2>
    </hgroup>
  </header>
{% endmacro %}

{# make session header macro #}
{% macro mk_session_header(session) %}
  <header>
    <hgroup>
      <h2>{{ session }}</h2>
    </hgroup>
  </header>
{% endmacro %}

{# desc macro #}
{% macro desc(disc_list) %}
  {% for desc_p in disc_list %}
    <p>{{ desc_p }}</p>
  {% endfor %}
{% endmacro %}

{# populate sessions macro #}
{% macro populate_sessions(sessions, day_index, timeslot_index) %}
  {% for session, session_info in sessions.iteritems() %} {# session start #}
    <section> <!-- day-{{ day_index }}-timeslot-{{ timeslot_index }}-session-{{ loop.index }} start -->
      {{ mk_session_header(session) }}
      <p>{{ session_info['speaker'] }}</p>
      <p>{{ session_info['room'] }}</p>
      {{ desc(session_info['desc']) }}
    </section> <!-- day-{{ day_index }}-timeslot-{{ timeslot_index }}-session-{{ loop.index }} end -->
  {% endfor %} {# session end #}
{% endmacro %}

{# populate timeslots macro #}
{% macro populate_timeslots(timeslots, day_index) %}
  {% for timeslot, sessions in timeslots.iteritems() %}  {# timeslot start #}
    <article> <!-- day-{{ day_index }}-timeslot-{{ loop.index }} start -->
      {{ mk_timeslot_header(timeslot) }}
      {{ populate_sessions(sessions, day_index, loop.index) }}
    </article> <!-- day-{{ day_index }}-timeslot-{{ loop.index }} end -->
  {% endfor %} {# timeslot start #}
{% endmacro %}

{# lp 2016 template start #}
{% for day, timeslots in schedule.iteritems() %} {# day start #}
  <article> <!-- day-{{ loop.index }} start -->
    {{ mk_day_header(day) }}
    {{ populate_timeslots(timeslots, loop.index) }}
  </article> <!-- day-{{ loop.index }} end -->
{% endfor %} {# day loop end #}
